* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
}

h1 {
    color: #ccc;
    font-size: 50px;
    margin-bottom: 20px;
}

.content {
    position: relative;
    z-index: 2;
    background-color: #fff;
    margin-bottom: 250px;
}

.content article {
    padding: 100px 0;
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
}

.content article p {
    margin-top: 20px;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    display: block;
    transform: scale(1);
    transition: 0.3s;
}

img:hover {
    transform: scale(1.1);
}

/* Parallax */
.bird-box {
    position: relative;
    height: 600px;
    background-image: url('images/bird-bg.jpg');
    background-size: auto auto;
    background-position: top center;
    background-attachment: fixed;
    overflow: hidden;
}

.logo {
    height: 100px;
    width: 100%;
    background-image: url('images/black-bird-logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
}

.fore-bird {
    width: 960px;
    height: 733px;
    background-image: url('images/fore-bird.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    position: absolute;
    left: 30%;
    top: 60%;
}

.back-bird {
    width: 960px;
    height: 298px;
    background-image: url('images/back-bird.png');
    background-repeat: no-repeat;
    background-position: top left;
    position: absolute;
    left: 5%;
}

/* Landing elements */
.clothes-pics {
    margin-top: 50px;
    font-size: 0;
}

.figure {
    width: 33.3333%;
    float: left;
    box-sizing: border-box;
    margin-bottom: 20px;
    position: relative;
    opacity: 0;
    transform: translateX(-60px);
    transition: all 2s;
    overflow: hidden;

}

.is-showing {
    opacity: 1;
    transform: translateX(0px);
}

/* Image in the middle */
.large-window {
    height: 640px;
    background-image: url('images/model2.jpg');
    background-position: center 0px;
    background-repeat: repeat-y;
    background-attachment: fixed;
    border-radius: 50%;
    margin-top: 50px;
    position: relative;
}

.window-tint {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promo-text {
    color: white;
    font-weight: 100;
    font-size: 50px;
}

.promo-text strong {
    display: block;
    font-size: 25px;
    font-weight: bold;
}

.promo-text span {
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    color: rgba(255, 255, 255, 0.6);
}

.promo-text a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    transition: 0.3s linear;
}

.promo-text a:hover {
    background-color: #fff;
    color: black;
}

/* Footer */

footer {
    background-color: #000;
    color: white;
    padding: 40px 0;
    width: 100%;
    height: 250px;
    bottom: 0;
    position: fixed;
}

.footer-figure {
    width: 20%;
    float: left;
    box-sizing: border-box;
    max-width: 640px;
    margin: auto 100px;
}

.footer-figure strong {
    font-size: 30px;
}

.footer-figure a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}